@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first ASP.NET app!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3 class="vid">A Song To Reminisce To:</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nSDgHBxUbVQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>Basic Animation</h3>
<p>
    <button class="btn btn-primary" onclick="move()">Click Me!</button>
</p>
<div id="myContainer">
    <div id="myAnimation"></div>
</div>
